body {
    background-image: url(./images/BG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    width: 100%;
}

.logo11 {
    position: absolute  ;
    width: 30px;
    align-items: center;
}

header {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    align-items: center;    
    padding: 5px;
    height: 70px;
    margin-top: -7px;
}

.head2 {
    display: flex;
    color: white;
    align-items: center;
    padding: 5px;
    height: 45px;
    margin-top: 5px;
}

ul {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    padding: 0;
    margin-left: 75px;
}

.topbar_2 {

}

.splash {
    background-image: url("./images/guns.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 1em;
}

.inputright {
    background-color: rgb(90, 89, 86);
    color: white;
    border-radius: 3%;
    border-width: 0px;
    width: 150px;
    height: 30px;
    font-size: 80%;
    margin: 15px;
    float: right;
}

/* h1 {
    text-shadow: 0.1px 3px grey;
} */

.bg-text {
    background-color: rgb(24, 20, 20);
    color: white;
    padding: 10x;
    margin: 0.5%;
    border-radius: 3%;
    text-align: center;
    
}

.biggertext {
    font-size: 50px;
}

.btn {
    background-color: black;
    border-radius: 5%;
    border-width: 0px;
    width: 90px;
    height: 30px;
    font-size: 80%;
    margin: 15px;
    cursor: pointer;
    color: white;
}

.btn:hover {
    background-color: rgb(90, 89, 86);  
}

.wbtn {
    background-color: white;
    border-radius: 5%;
    border-width: 0px;
    width: 90px;
    height: 30px;
    font-size: 80%;
    margin: 15px;
    cursor: pointer;
    color: black;
}

.wbtn:hover {
    background-color: rgb(90, 89, 86);
}


.smallbtn {
    background-color: rgb(70, 69, 66);;
    border-radius: 10%;
    border-width: 0px;
    width: 30px;
    height: 30px;
    font-size: 80%;
    margin: 15px;
    cursor: pointer;
}

.smallbtn:hover {
    background-color: rgb(90, 89, 86);
}

.splash {
    justify-content: center;
    align-items: center;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em
}
.wrapper {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0px 4px;
    vertical-align: top;
    white-space: nowrap;
    width: 272px;
    margin-left: 150px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em
}

.container {
    display: grid;
    grid-template-columns: 1fr [ONE] 1fr [TWO] 1fr [THREE];
    gap: 10px;
}
  .column {
    background-color: #eee;
    padding: 10px;
  }
img{
    width: 100%;
}
    .gallery img:last-child {
    grid-column: 3;   
}

.cards {
    border-radius: 10px;
    background-color: rgb(204, 204, 204);
}

.card {
    margin: 15px 15px 25px;
    height: 80px;
    width: 290px;
    border: 2px solid rgb(255, 255, 255);
    border-radius:5px;
    background-color: rgb(255, 255, 255);
    color: #000000;

}

.card h2 {
    background-color: orange;
    margin: 0;
    padding: 10px;
}

.card p {
    padding: 10px;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

.sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    color: white;
    top: 0;
    padding-top: 70px;
    background-color: rgb(18, 18, 19);
}
    
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    font-size: medium;
}

.option p {
    position: none;
    margin-left: 35px;
    text-align: center;
    align-items: top;
}

.option {   
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    width: 150px;
    height: 50px;
}

.option:hover {
    box-sizing: border-box;
    background-color: grey;
    border: 1px solid black;
}


